---
import { API_HOST } from "astro:env/client";
import type { IRanking } from "../../types/ranking";

const response = await fetch(`${API_HOST}/game/leaderboard`);
const ranking: IRanking = await response.json();

const { legend } = ranking;
---

<article class="flex flex-col gap-4">
	<section>
		<h2 class="text-xl font-bold">
			<span class="text-2xl">📈</span> Tiers
		</h2>
	</section>
	<article class="border-x-2 border-gray-700">
		<section class="grid grid-cols-3 grid-rows-1 border-y-2 border-gray-700">
			<span class="border-r-2 flex justify-center border-gray-700">
				Range
			</span>
			<span class="border-r-2 flex justify-center border-gray-700">
				Example
			</span>
			<span class="flex justify-center">Representation</span>
		</section>
		<ul class={`grid grid-rows-[${legend.tiers?.length}] grid-cols-1`}>
			{
				legend.tiers?.map((tier) => {
					return (
						<article class="grid grid-cols-3 border-b-[1px] text-sm border-gray-700">
							<span class="flex justify-center border-r-[1px] p-1 border-gray-700">
								{tier.range}
							</span>
							<span class="flex justify-center border-r-[1px] p-1 border-gray-700">
								{tier.example}
							</span>
							<span class="p-1 pl-4">{tier.representation}</span>
						</article>
					);
				})
			}
		</ul>
	</article>
</article>
